Exceptions101/bin
Exceptions101/bin/Debug
Exceptions101/bin/Debug/net8.0
TestProject/bin
TestProject/bin/Debug
TestProject/bin/Debug/net8.0
TestProject/bin/Debug/net8.0/TestProject
TestProject/bin/Debug/net8.0/TestProject.runtimeconfig.json
TestProject/bin/Debug/net8.0/TestProject.deps.json
TestProject/bin/Debug/net8.0/TestProject.dll
TestProject/bin/Debug/net8.0/TestProject.pdb
ThrowExceptions101/bin
ThrowExceptions101/bin/Debug
ThrowExceptions101/bin/Debug/net8.0
Exceptions101/obj
Exceptions101/obj/Debug
Exceptions101/obj/Debug/net8.0
Exceptions101/obj/Debug/net8.0/ref
Exceptions101/obj/Debug/net8.0/refint
TestProject/obj
TestProject/obj/Debug
TestProject/obj/Debug/net8.0
TestProject/obj/Debug/net8.0/TestProject.AssemblyInfoInputs.cache
TestProject/obj/Debug/net8.0/TestProject.genruntimeconfig.cache
TestProject/obj/Debug/net8.0/apphost
TestProject/obj/Debug/net8.0/ref
TestProject/obj/Debug/net8.0/ref/TestProject.dll
TestProject/obj/Debug/net8.0/TestProject.assets.cache
TestProject/obj/Debug/net8.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net8.0/refint
TestProject/obj/Debug/net8.0/refint/TestProject.dll
TestProject/obj/Debug/net8.0/TestProject.csproj.FileListAbsolute.txt
TestProject/obj/Debug/net8.0/TestProject.sourcelink.json
TestProject/obj/Debug/net8.0/TestProject.dll
TestProject/obj/Debug/net8.0/TestProject.pdb
TestProject/obj/Debug/net8.0/TestProject.AssemblyInfo.cs
TestProject/obj/Debug/net8.0/TestProject.GlobalUsings.g.cs
TestProject/obj/Debug/net8.0/TestProject.csproj.CoreCompileInputs.cache
TestProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TestProject/obj/TestProject.csproj.nuget.g.props
TestProject/obj/project.assets.json
TestProject/obj/TestProject.csproj.nuget.dgspec.json
TestProject/obj/project.nuget.cache
TestProject/obj/TestProject.csproj.nuget.g.targets
ThrowExceptions101/obj
ThrowExceptions101/obj/Debug
ThrowExceptions101/obj/Debug/net8.0
ThrowExceptions101/obj/Debug/net8.0/ref
ThrowExceptions101/obj/Debug/net8.0/refint
